

.modal {
  /* border: 2px solid; */
  width: 30%;
  padding: 30px 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid;
  border-radius: 8px;
  /* transform: translateY(-100px);  <==== relativo alla prima parte (try & catch)   */
  transform: translateY(0);
  transition: 0.35s;
  box-shadow: 0 0 16px rgb(0, 0, 0);
  background: rgb(43, 43, 43);
  color: rgb(240, 240, 240);
  
}

#btnSend {
  padding: 7.5px 15px;
  border-radius: 6px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.userPage {
  /* display: none; <==== relativo alla prima parte (try & catch)   */
}
